@font-face {
    font-family: 'Marcellus SC'; /* shorthand for font that looks like her signature font */
    src: url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');
}

@font-face {
    font-family: 'Katibeh'; /* body text */
    src: url('https://fonts.googleapis.com/css2?family=Katibeh&display=swap');
}

h1 {
    font-family: "Marcellus SC";
}

h3 {
    font-family: "Marcellus SC", "Garamond", serif;
    color: #ffffff;
    background-color: #4e5e52;
    font-weight: bolder;
    font-size: 2.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;

}

body {
    background-color: #354439;
    text-align: center;
    align-content: stretch;
}

#index {
    background-image: url(dark-dragon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 10rem;
    padding-bottom: 3rem;
}
a:link {
    color: #eebc71;
}

a:hover {
    color: #e7ff0a;
}

a:visited {
    color: #eebc71;
}


.description {
    font-family: 'Katibeh', cursive;
    color: #ffffff;
    background-color: #598b78fb;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 25px;
    width: auto;
    height: auto;
    font-weight: thin;

}

.header {
    font-family: "Marcellus SC", "Garamond", serif;
    color: #ffffff;
    background-image: url("aboutHeader.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    
}


.links {
    font-family: 'Katibeh', cursive;
    font-style: italic;
    font-size: 2.5rem;
    color: #ffa953;
    padding: .5rem;
    background-color: #4e5e52;
}

.links a {
    font-family: 'Katibeh', cursive;
    font-style: italic;
    font-size: 2.5rem;
    color: #ffa953;
    padding: .5rem;
}

.image {
    width: 100%;
    height: auto;
    align-items: center;
    min-width: 5rem;
}


.icon {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-right: 5rem;
}


.grid {
    display: grid;
    width: 100%;
    height: auto;
    grid-template: auto / auto auto;
    column-gap: 30px;
}


@media screen and (max-width: 75rem) {
    .grid {
    display: block;
    width: 100%;
    height: auto;
    grid-template: auto / auto auto;
    column-gap: 30px;
    }
}


#about {
    font-size: 2rem;
}

/* bad naming, imagine "pathfind" means "item" */
.pathfind1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.pathfind2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.pathfind3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.crow1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.crow2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.crow3 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
}