@font-face {
    font-family: 'Marcellus SC'; /* shorthand for font that looks like her signature font */
    src: url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');
}

@font-face {
    font-family: 'Katibeh'; /* body text */
    src: url('https://fonts.googleapis.com/css2?family=Katibeh&display=swap');
}

h1 {
    font-family: "Marcellus SC";
}

h3 {
    color: #643748;
    font-weight: bolder;
    font-size: large;
    align-content: center;

}

body {
    background-color: #211d2e;
    text-align: center;
    align-content: stretch;
}

.description {
    font-family: "Katibeh", "Garamond", serif;
    color: #4e1e3e;
    background-color: #ffffff;
    font-weight: thin;
    justify-content: center;

}

.header {
    font-family: "Marcellus SC", "Garamond", serif;
    color: #cf822a;
    background-color: #040816;
    
}

.headerImage {
    align-content: top;
}

.links {
    font-style: italic;
}
